<form class="container justify-content-center "  action="" method="post">
  <div class="form-row text-white justify-content-center">
  <div class="form-group mb-3 mt-5 col-3 ">
    <label for="Marca">Marca</label>
    <input type="text" class="form-control" id="Marca" name="marca">
  </div>
  <div class="form-group mb-3 mt-5 col-3 ">
    <label for="A単o">A単o</label>
    <input type="text" class="form-control" id="A単o" name="a単o">
  </div>
  <div class="form-row">
    <div class="form-group mb-3 mt-5 col-3 ">
      <label for="Modelo">Modelo</label>
      <input type="text" class="form-control" id="Modelo" name="modelo">
    </div>
  
    <div class="form-row">
    <div class="form-group mb-3 mt-5 col-3 ">
      <label for="Km">Km</label>
      <input type="text" class="form-control" id="Km" name="km">
    </div>
  </div>

  <div class="form-group mt-5 mb-3 col-3 ">
    <label for="exampleFormControlFile1">Subir archivo</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>

  <button type="submit" class="btn btn-dark mb-3 mt-5 col-3 ">Agregar</button>
</form>