<div class="container">
  <div class="row">
    {{#each cars}}
      <div class="col-md-4 mt-3 mb-3">
        <div class="card mb-4 box-shadow">
          <img
            class="card-img-top"
            alt="Thumbnail [100%x225]"
            style="height: 225px; width: 100%; display: block; background-color:rgba(240, 248, 255, 0.267)"
            src="/images/Rastro.jpg"
            data-holder-rendered="true"
          />
          <div class="transp">
            <div class="card-body">
              <ul class="no-pl">
                <li class="list-group-item">Marca: {{Marca}}</li>
                <li class="list-group-item">Anio: {{Anio}}</li>
                <li class="list-group-item">Modelo: {{Modelo}}</li>
                <li class="list-group-item">Km: {{Km}}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>